/* Reset the margins */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.centerize {
  text-align: center;
}
.center-div {
  margin: 0 auto;
}
.clear {
  clear: both;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Pink Button */
.pink-button {
  border: 2px solid #FCA4BA;
  background: #FFEEEE;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.pink-button:hover {
  background: #FFDDDD;
}
.pink-button.active {
  background: #FCA4BA;
}

/* Outer Structures */
#charSel, #charDisp, #extWeb, #charEdit {
  position: fixed;
  height: 100%;
}
#charSel {
  left: 0;
  width: 20%;
  border-right: 1px solid #DDD;
}
#charDisp {
  left: 20%;
  width: 30%;
  z-index: 99;
}
#extWeb {
  left: 50%;
  width: 50%;
  border: 0;
  border-left: 1px solid #DDD;
}

/* charSelUpper */
#charSelUpper, #charSelLower {
  padding: 10px;
}
#charSelUpper {
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
}
#charSelUpper div {
  margin-top: 10px;
  margin-bottom: 0;
}
#charSel h1 {
  margin: 3px;
  overflow: hidden;
}
#formChar {
  display: inline;
}
#txtChar {
  width: 1.5em;
  font-size: 18pt;
  text-align: center;
}
#selSearch {
  vertical-align: text-bottom;
}

/* charSelLower */
#charSelLower {
  overflow: auto;
  font-size: 18pt;
}
#bookList {
  padding: 0;
}
.book-list {
  float: left;
  margin: 2px;
  padding: 2px;
  font-size: 18px;
  width: 24px;
  height: 20px;
  line-height: 20px;
}
#bookChar {

}
.title {
  font-weight: bold;
}
#charSelLower .chr {
  color: blue;
  cursor: pointer;
}
#charSelLower .chr:hover {
  color: red;
}
#charSelLower .chr.highlight {
  color: red;
}
#charSelLower .chr.h5 {
  background-color: #AEA;
}
#charSelLower .chr.h6 {
  background-color: #EAE;
}
#charSelLower .chr.h6x {
  background-color: #E77;
}
#charSelLower .chr.extra {
  background-color: #CCE;
}
#charSelLower .chr.what {
  background-color: #B8D;
}
#charSelLower .chr.addendum {
  background-color: #EE5;
}
#charSelLower .chr.moved {
  background-color: #222;
  color: #DDD;
}

/* charDispInner */
#charDispInner, #charDesc {
  padding: 10px;
}
#charDispInner {
  position: relative;
  text-align: center;
  font-size: 48pt;
}
.big-char {
  font-family: "HGKyokashotai", "EPSON Kyokashotai M", "EPSON 教科書体M", serif;
  border: 2px solid black;
  margin: 0 auto;
  width: 56pt;
  text-align: center;
  z-index: 1;
}
.side-char {
  position: absolute;
  line-height: 64pt;
  top: 10px;
  color: #AAA;
}
#charDispInnerLeft {
  right: calc(50% + 48pt);
}
#charDispInnerRight {
  left: calc(50% + 48pt);
}
#charSimp {
  font-family: "STKaiti", "AR PL UMing CN", "KaiTi";
}
#charTrad {
  font-family: "STKaiti", "AR PL UMing TW", "DFKai-SB";
}

/* charDesc */
#charDesc {
  overflow: auto;
}
#charDesc .desc-wrapper {
  clear: both;
  padding-top: 10px;
}
#wordList span, #jlptList span {
  display: block;
  float: left;
  font-size: 20pt;
  line-height: 26pt;
  margin: 5px;
  padding: 3px 6px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px -1px #AAA;
  background-color: #E5E5E5;
}
#jlptList span.n2 {
  background-color: #BBC;
}
#clearList {
  height: 15px;
}

/* External */
#extFrame {
  width: 100%;
  height: 100%;
  border: 0;
}
