/* Reset the margins */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.centerize {
  text-align: center;
}
.center-div {
  margin: 0 auto;
}
.clear {
  clear: both;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Pink Button */
.pink-button {
  border: 2px solid #FCA4BA;
  background: #FFEEEE;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.pink-button:hover {
  background: #FFDDDD;
}
.pink-button.active {
  background: #FCA4BA;
}

/* Outer Structures */
#charSel, #charDisp, #extWeb, #charEdit {
  position: fixed;
  height: 100%;
}
#charSel {
  left: 0;
  width: 25%;
  border-right: 1px solid #DDD;
  display: flex;
  flex-direction: column;
}
#charDisp {
  left: 25%;
  width: 25%;
  z-index: 99;
  display: flex;
  flex-direction: column;
}
#extWeb {
  left: 50%;
  width: 50%;
  border: 0;
  border-left: 1px solid #DDD;
}

/* charSelUpper */
#charSelUpper, #charSelLower {
  padding: 10px;
  position: relative;
}
#charSelUpper {
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  flex: 0 1 auto;
}
#charSelUpper div {
  margin-top: 10px;
  margin-bottom: 0;
}
#charSel h1 {
  margin: 3px;
  text-shadow: 0px -1px 2px #71EA59, 0px 1px 2px #5345E3;
}
#formChar {
  display: inline;
}
#txtChar {
  width: 1.5em;
  font-size: 18pt;
  text-align: center;
}
#selSearch {
  vertical-align: text-bottom;
}

/* charSelLower */
#charSelLower {
  overflow: auto;
  font-size: 18pt;
  flex: 1 1 auto;
}
#bookList {
  padding: 0;
}
.book-list {
  float: left;
  margin: 2px;
  padding: 2px;
  font-size: 18px;
  width: 28px;
  height: 20px;
  line-height: 20px;
}
.title {
  font-weight: bold;
}
#charSelLower .chr {
  color: blue;
  cursor: pointer;
  line-height: 1.3;
}
#charSelLower .chr:hover {
  color: red;
}
#charSelLower .chr.highlight {
  color: red;
}
#charSelLower .chr.h5 {
  background-color: #AEA;
}
#charSelLower .chr.h6 {
  background-color: #EAE;
}
#charSelLower .chr.h6x {
  background-color: #E77;
}
#charSelLower .chr.extra {
  background-color: #CCE;
}
#charSelLower .chr.what {
  background-color: #B8D;
}
#charSelLower .chr.addendum {
  background-color: #EE5;
}
#charSelLower .chr.moved {
  background-color: #222;
  color: #DDD;
}
#settingsLink {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: url('images/cog.png') no-repeat left top;
}
#settingsLink:hover {
  background-position: -16px 0px
}

/* charDispInner */
#charDispInner, #charDesc {
  padding: 10px;
}
#charDispInner {
  position: relative;
  text-align: center;
  font-size: 48pt;
  line-height: 56pt;
  flex: 0 1 auto;
}
.big-char {
  font-family: "HGKyokashotai", "EPSON Kyokashotai M", "EPSON 教科書体M", serif;
  border: 2px solid black;
  margin: 0 auto;
  width: 56pt;
  text-align: center;
  z-index: 1;
}

/* charDesc */
#charDesc {
  overflow: auto;
  flex: 1 1 auto;
}
#charDesc .desc-wrapper {
  clear: both;
  padding-top: 10px;
}
#wordList h3 {
  margin: 0.5em;
}
#wordList a {
  display: block;
  cursor: pointer;
  float: left;
  font-size: 20pt;
  line-height: 26pt;
  margin: 5px;
  padding: 3px 6px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px -1px #AAA;
  color: #111;
  text-decoration: none;
}
#wordList a.w0 { background-color: #F4CCCC; }
#wordList a.w1 { background-color: #FCE5CD; }
#wordList a.w2 { background-color: #FFF2CC; }
#wordList a.w3 { background-color: #D9EAD3; }
#wordList a.w4 { background-color: #CFE2F3; }
#wordList a.w5 { background-color: #D2D2E9; }
#wordList a.w6 { background-color: #EAD1DC; }
#clearList {
  height: 15px;
}

/* External */
#extFrame {
  width: 100%;
  height: 100%;
  border: 0;
}
