/* Reset the margins */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.centerize {
  text-align: center;
}
.center-div {
  margin: 0 auto;
}
.clear {
  clear: both;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Pink Button */
.pink-button {
  border: 2px solid #FCA4BA;
  background: #FFEEEE;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.pink-button:hover {
  background: #FFDDDD;
}
.pink-button.active {
  background: #FCA4BA;
}

/* Outer Structures */
#mainPane, #extPane {
  position: fixed;
  height: 100%;
}
#mainPane {
  left: 0;
  width: 50%;
}
#modalCover {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}
.selectBook #modalCover,
.selectChapter #modalCover,
.selectChar #modalCover {
  display: block;
}
#extPane {
  left: 50%;
  width: 50%;
  border: 0;
  border-left: 1px solid #DDD;
}
#extFrame {
  width: 100%;
  height: 100%;
  border: 0;
}
@media (max-width: 990px) {
  #mainPane { width: 100%; }
  #extPane { display: none; }
}

/* charSelUpper */
#charSelUpper, #charSelLower {
  padding: 10px;
  position: relative;
  height: 30px;
}
#charSelUpper {
  background-color: #EEE;
}
#charSelUpper > h1 {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  margin: 3px;
  text-shadow: 0px -1px 2px #71EA59, 0px 1px 2px #5345E3;
}
#abbrevName { display: none; }
@media (max-width: 500px) {
  #fullName { display: none; }
  #abbrevName { display: inline; }
}

#charSelUpper > div {
  display: inline-block;
  vertical-align: top;
  margin: 1px 6px;
}
#formChar {
  display: inline;
}
#txtChar {
  width: 1.5em;
  font-size: 16pt;
  text-align: center;
  height: 26px;
  padding: 1px;
  border: 1px solid #BBB;
  border-radius: 5px;
}
#selSearch {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  background-color: white;
  padding: 3px;
  border: 1px solid #BBB;
  border-radius: 5px;
}
#settingsLink {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: url('cog.png') no-repeat left top;
}
#settingsLink:hover {
  background-position: -16px 0px
}

/* charSelLower */
#currentBookBox, #currentChapterBox, #currentCharBox {
  position: absolute;
  top: 0;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
}
#currentBookBox {
  left: 0;
  width: 30%;
  background-color: #C5C5CC;
}
#currentChapterBox {
  left: 30%;
  width: 30%;
  background-color: #D2D2D9;
}
#currentCharBox {
  left: 60%;
  width: 40%;
  background-color: #DDDDE5;
}
.selectBook #currentBookBox {
  z-index: 80;
}
.selectChapter #currentChapterBox {
  z-index: 80;
}
.selectChar #currentCharBox {
  z-index: 80;
}
#selectorBoxWrapper {
  position: absolute;
  display: none;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: #EEF;
  z-index: 99;
}
.selectBook #selectorBoxWrapper,
.selectChapter #selectorBoxWrapper,
.selectChar #selectorBoxWrapper {
  display: block;
}
#selectorBox {
  margin: 10px;
  font-size: 20px;
  line-height: 2;
}
#selectorBox button {
  border: 1px solid #BBB;
  border-radius: 3px;
  background: #DDD;
  font-size: 24px;
  cursor: pointer;
  padding: 2px 8px;
}

/* charDisp */
#charDisp {
  height: calc(100% - 100px);
  overflow: auto;
}
#charDispInner, #charDesc {
  padding: 10px;
}
#charDispInner {
  position: relative;
  text-align: center;
  font-size: 48pt;
  line-height: 56pt;
}
.big-char {
  font-family: "HGKyokashotai", "EPSON Kyokashotai M", "EPSON 教科書体M", serif;
  border: 2px solid black;
  margin: 0 auto;
  width: 56pt;
  text-align: center;
  z-index: 1;
}
#charDesc {
  overflow: auto;
}
#charDesc .desc-wrapper {
  clear: both;
  padding-top: 10px;
}
#wordList h3 {
  margin: 0.5em;
}
#wordList a {
  display: block;
  float: left;
  font-size: 20pt;
  line-height: 26pt;
  margin: 5px;
  padding: 3px 6px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px -1px #AAA;
  color: #111;
  text-decoration: none;
}
#wordList a.w0 { background-color: #F4CCCC; }
#wordList a.w1 { background-color: #FCE5CD; }
#wordList a.w2 { background-color: #FFF2CC; }
#wordList a.w3 { background-color: #D9EAD3; }
#wordList a.w4 { background-color: #CFE2F3; }
#wordList a.w5 { background-color: #D2D2E9; }
#wordList a.w6 { background-color: #EAD1DC; }
#clearList {
  height: 15px;
}
